:root {
    --vp-c-brand-1: #2b9739;
    --vp-c-brand-2: hsl(127, 56%, 42%);
    --vp-c-brand-3: hsl(127, 56%, 46%);
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #2eaa3e 30%, #82ff92);

    --vp-home-hero-image-background-image: linear-gradient(-45deg, #2eaa3e 50%, #82ff92 50%);
    --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
}

.VPImage.image-src {
    padding: 1rem;
}